	shutdown-options {
	    height: 100vh;
	    min-height: 100%;
	    display: flex;
	    flex-direction: column;
	}

	.click-menu {
	    display: flex;
	    width: 100%;
	    justify-content: center;
	}

	.power-off {
	    fill: none;
	    pointer-events: all;
	}

	.comp {
	    cursor: pointer;
	    -webkit-app-region: no-drag;
	    border: 1px solid transparent;
	    box-sizing: border-box;
	    padding: 20px;
	    height: 210px;
	    width: 210px;
	    margin-top: 25px;
	    text-align: center;
	    &:hover {
	        border: 1px solid #fff;
	        box-sizing: border-box;
	        padding: 20px;
	        width: 210px;
	        height: 210px;
	        .power-off {
	            fill: #fff;
	        }
	    }
	    .comp-ico {
	        height: 113px;
	        padding-bottom: 30px;
	        svg {
	            width: 120px;
	            margin: 0 auto;
	            padding-bottom: 30px;
	            fill: #fff;
	            height: 113px;
	            padding-bottom: 30px;
	            &:hover {
	                .power-off {
	                    fill: #fff;
	                }
	            }
	        }
	    }
	}

	.title {
	    font-family: 'Gotham-Medium';
	    font-size: 11px;
	    color: #fff;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}

	#heart-logo {
	    width: 100px;
	    fill: #818181;
	    -webkit-animation: beat 0.7s ease 0s infinite normal;
	    -moz-animation: beat 0.7s ease 0s infinite normal;
	    animation: beat 0.7s ease 0s infinite normal;
	} // .anim{
	// 	animation: pulse 0.7s infinite;
	// }
	.wrapper {
	    display: flex;
	    justify-content: center;
	    height: 85vh;
	}

	@keyframes beat {
	    0% {
	        transform: scale(1);
	        fill: #828282;
	    }
	    50% {
	        transform: scale(1.5);
	        fill: #212121;
	    }
	    100% {
	        transform: scale(1);
	        fill: #818181
	    }
	}

	// 	@keyframes beat {
	//     0% {transform: scale(1)}
	//     50% {transform: scale(1.3) }
	//     100% {transform: scale(1) }
	// }
	// @keyframes pulse {
	//   0% {
	//     fill: #393939;
	//   }
	//   50% {
	//     fill: #191919;
	//   }
	//   100% {
	//     fill: #393939;
	//   }
	// }