.likeBackground {
    position: fixed;
    top: 20px;
    fill-opacity: 0.11;
    z-index: -9999999;
    width: 415px;
}
.likeBackgroundCountDown {
    position: fixed;
    top: 5px;
    fill-opacity: 0.11;
    z-index: -9999999;
    width: 415px;
}