@mixin font-face($name, $fn, $p) {
    font-family: '#{$name}';
    src: url('#{$p}/#{$fn}.eot');
    src: url('#{$p}/#{$fn}.eot?#iefix') format('embedded-opentype'),
    url('#{$p}/#{$fn}.woff') format('woff'),
    url('#{$p}/#{$fn}.ttf') format('truetype'),
    url('#{$p}/#{$fn}.svg##{$name}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    @include font-face('Gotham-Bold',
    'Gotham-Bold',
    '../assets/fonts/');
}

@font-face {
    @include font-face('Gotham-Light',
    'Gotham-Light',
    '../assets/fonts/');
}

@font-face {
    @include font-face('Gotham-Book',
    'Gotham-Book',
    '../assets/fonts/');
}

@font-face {
    @include font-face('Gotham-Medium',
    'Gotham-Medium',
    '../assets/fonts/');
}