@import "font";
// @import 'https://fonts.googleapis.com/css?family=Roboto+Mono';

@font-face {
	@include font-face('Gotham-Bold', 'Gotham-Bold', '../font');
}
@font-face {
	@include font-face('Gotham-Light', 'Gotham-Light', '../font');
}
@font-face {
	@include font-face('Gotham-Book', 'Gotham-Book', '../font');
}
@font-face {
	@include font-face('Gotham-Medium', 'Gotham-Medium', '../font');
}
@font-face {
	@include font-face('Gotham-Medium', 'Gotham-Medium', '../font');
}
@font-face {
    @include font-face('Roboto-Mono','RobotoMono-Medium','../fonts/');
}
@font-face {
    @include font-face('Roboto','Roboto-Medium','../fonts/');
}
body {
	-webkit-user-select: none;
	height: 380px;
	background-color: rgba(32, 32, 32, 0.98);
	overflow: hidden;
}
a,
a:active,
a:-webkit-any-link{
	text-decoration: none;
	color:#fff;
}

.head {
	z-index: 999999999;
	display: flex;
	height: 80px;
	width: 100%;
	//margin-bottom: 25px
}
.logo {
	display: flex;
	width: 50%;
	margin: 20px 0 0 50px;

	svg {
		height: 80px;
		width: 80px;

		path, rect {
			fill: #818181
		}
	}
	.logo-txt {
		padding-left: 15px;
		font-size: 20px;
		color: #fff;
		line-height: 3.5;
		text-transform: uppercase;

		span:nth-child(1) {
			font-family: 'Gotham-Light'
		}
		span:nth-child(2) {
			font-family: 'Gotham-Medium'
		}
	}
}
.windows-icon {
	display: flex;
	width: 40%;
	line-height: 4;
	flex-direction: row;
	justify-content: flex-end;

	.x {
		-webkit-app-region: no-drag;
		cursor: pointer;

		svg {
			width: 16px
		}
	}
	.minimal {
		-webkit-app-region: no-drag;
		cursor: pointer;
		padding-top: 5px;
		padding-right: 15px;

		svg {
			width: 20px
		}
	}
	svg {
		.win-ico-color {
			fill: #fff;

			&:hover {
				fill: #a4a4a4
			}
		}
	}
}
.hide-nav {
	visibility: hidden
}
.hidden {
	display: none
}
.nav {
	z-index: -999999999999999999;
	-webkit-app-region: no-drag;
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	margin-top: 312px;
	height: 250px;

	.comp {
		cursor: pointer;
		-webkit-app-region: no-drag;
		border: 1px solid transparent;
		box-sizing: border-box;
		padding: 20px;
		height: 210px;
		width: 210px;
		margin-top: 25px;
		text-align: center;

		.comp-ico {
			height: 113px;
			padding-bottom: 30px;

			svg {
				width: 120px;
				margin: 0 auto;
				padding-bottom: 30px;
				fill: #fff;
				height: 113px;
				padding-bottom: 30px;

				.power-off {
					display: none
				}
				&:hover {
					.power-off {
						display: inline
					}
				}
			}
		}
		&:hover {
			border: 1px solid #fff;
			box-sizing: border-box;
			padding: 20px;
			width: 210px;
			height: 210px;
	
		}
		
	}
	.title {
		font-family: 'Gotham-Light';
		font-size: 13px;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px
	}
	.settings {
		cursor: pointer;
		-webkit-user-select: none;
		-webkit-app-region: drag;
		border: 1px solid transparent;
		box-sizing: border-box;
		padding: 20px;
		height: 210px;
		width: 210px;
		margin-top: 25px;
		text-align: center;

		.config-ico {
			height: 113px;
			padding-bottom: 30px;

			svg {
				-webkit-app-region: no-drag;
				width: 120px;
				margin: 0 auto;
				padding-bottom: 30px;
				fill: #fff;

				&:hover {
					#circle-center {
						animation: move 1s ease infinite
					}
					#circle-left {
						animation: movetwo 1s ease infinite
					}
					#circle-right {
						animation: moveup 1s ease infinite
					}
					@keyframes move {
						40% {
							transform: translate(0px, -30px)
						}
					}
					@keyframes moveup {
						40% {
							transform: translate(0px, 50px)
						}
					}
					@keyframes movetwo {
						40% {
							transform: translate(0px, -60px)
						}
					}
				}
			}
		}
		&:hover {
			border: 1px solid #fff;
			box-sizing: border-box;
			padding: 20px;
			width: 210px;
			height: 210px
		}
	}
}
.arrow-prev{
margin-top: -5px;
-webkit-app-region: no-drag;
cursor: pointer;
display: none;
line-height: 4.5;
padding-left: 30px;
color: white;

}  
 
 .click_back{

 	svg{
 		width:30px;
 		fill: #fff;
 	}
 }

.arrowback {
  width: 20px;
  height: 100px;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.arrowback svg {
    position: absolute;
    bottom: 0;
    left: 30px;
    top: 66px;
    width: 68%;
    height: auto;
    transform: rotate(90deg);
}
.arrowback svg path.first-path {
  animation: scrollanim 1s ease-in-out infinite;
  animation-delay: 0.8s;
}
.arrowback svg path.second-path {
  animation: scrollanim2 1s ease-in-out infinite;
}

@-webkit-keyframes scrollanim {
  0% {
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0);
    opacity: 0.8;
  }
}
@-moz-keyframes scrollanim {
  0% {
    -moz-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -moz-transform: translate(0, 0);
    opacity: 0.8;
  }
}
@keyframes scrollanim {
  0% {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.8;
  }
}
@-webkit-keyframes scrollanim2 {
  0% {
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0px);
    opacity: 0.6;
  }
}
@-moz-keyframes scrollanim2 {
  0% {
    -moz-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -moz-transform: translate(0, 0px);
    opacity: 0.6;
  }
}
@keyframes scrollanim2 {
  0% {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
    opacity: 0.6;
  }
}
.arrow-hover{
	display:none;
	position: absolute;
    top: 57px;
    padding-left: 65px;
   	font-size: 12px;
   	font-family: 'Gotham-Book';

}
.click_back{

&:hover{

.arrow-hover{
	display:inline-block;
	opacity: 1;
  	transition: opacity 2s linear;

}

	}
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 14px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #ddd;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
[type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}


body
{
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}
form
{
  width: 300px;
  margin: 0 auto;
}
.options{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.option-list{
	    padding-top: 45px;
	font-family: 'Gotham-Book';
	list-style: none;
	li{
	padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
	}
}
.container-options{
	z-index: -999999999999999999;
	-webkit-app-region: no-drag;
	display: flex;
	width: 70%;
	margin: 0 auto;
	justify-content: space-around;
	height: 250px;
}
.click_menu{
	margin-right: 40px;
}
input[type=time]{
	font-family: 'Roboto Mono', monospace;
	width: 276px;
    height: 57px;
    font-size: 39px;
    text-indent: 15px;
    margin-top: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

    &:hover{
    background-color: rgba(119, 117, 117, 0.18);
    }

}
input[type=time]:focus{
	color:#fff;
	border:1px solid #fff;
	outline: none;
}


input[type=time]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=time]:hover::-webkit-inner-spin-button { 
    background: url('../img/arrows.png') no-repeat 50% 50%;  
    width: 14px;
    height: 14px;
    padding-top: 45px;
    position: relative;
    right: 15px;
    border-radius: 28px;
}
#initButton{
	height: 59px;
    width: 276px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;

    &:hover{
    background-color: rgba(119, 117, 117, 0.18);
    cursor: pointer;
    }
}
#stopButton{
	display:none;
	height: 50px;
    width: 276px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
     margin: 0 auto;

    &:hover{
    background-color: rgba(119, 117, 117, 0.18);
    cursor: pointer;
    }
}
.showValue{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    span{
   	font-family: 'Roboto Mono', monospace;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 66px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    }
}

